body {
    font-family: 'Montserrat', sans-serif;
}

.color1 {
    background-color: rgba(5, 102, 141, 0.15);
}

.color2 {
    background-color: rgba(2, 128, 144, 0.15);
}

.color3 {
    background-color: rgba(0, 168, 150, 0.15);
}

.color4 {
    background-color: rgba(2, 195, 154, 0.15);
}

.color5 {
    background-color: rgba(240, 243, 189, 0.15);
}

.bo1 {
    border: 1px solid black;
}

.bo2 {
    border: 1px solid blue;
}

.bo3 {
    border: 1px solid yellow;
}

.text-primary {
    color: rgba(55, 118, 142, 1) !important;
}

.bg-success {
    background-color: rgba(55, 118, 142, 1) !important;
}

.hidden {
    visibility: hidden;
}

.round-corners {
    border-radius: 20px;
    border: 3px solid rgba(55, 118, 142, 1);
}

.round-corners-info {
    border-radius: 20px;
    border-color: rgba(86, 143, 165, 1);
}

.round {
    border-radius: 50px;
}